*{
    margin: 0px;
    padding: 0px;
}
.batch1 button{
    width: 50px;
    height: 50px;
    margin: 10px;
}
main{
    border: solid 1px;
    border-radius: 10px;
    height: 100vh;
    background-color: rgb(10, 48, 53);
}
input{
    background-color: bisque;
    font-weight: 600;
}
input[type="text"]{
    font-size: 25px;
}